#ticker{
    display: inline-block;
}

.rotator {
    color: red;
  display: inline-block;
  width: 19vw;
  height: 160px;
  text-align: center;
  font-family: "Times New Roman";
  font-size: 50px;
  line-height: 80px;
  background-image: url(flip.png), url(flip.png), url(flip.png);
  background-position: 0 0, 50% 50%, 100% 150%;
  background-size: 300% 50%;
  background-repeat: no-repeat;
  margin: 50px 0 20px;
  overflow: hidden;
  opacity: 0;
}

.quota {
  height: 50%;
  cursor: default;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.quota:selected{
    color: yellow;
}

#result {
    display: none;
  height: 35px;
  font-size: 20px;
  color: green;
  line-height: 35px;
  letter-spacing: 3px;
  -webkit-box-shadow: 0 0 3px black;
  box-shadow: 0 0 3px black;
}
